.slide-content {
  display: flex;
  height: 150px;
  gap: 20px;
}



.sliderImg {
  height: 100%;
  max-height: 150px;
  max-width: 150px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.sliderImg img {
  height: 100%;
  width: auto;
}

.slideHeadline {
  font-weight: bold;
}

.slideTxt {
  text-align: left;
}

.customerReview {
  padding: 50px 0;
  margin-bottom: 100px;
  background-image: url('../../img/bg.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.customerReview::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

}

.customerReview-wrap {
  z-index: 2;
  position: relative;
}

.headlineR {
  z-index: 2;
}

@media (max-width: 500px) {
  .slide-content {
    flex-wrap: wrap;
    height: 260px;
    align-items: center;
    justify-content: center;
  }

  .sliderImg {
    height: 100px;
    width: 100px;
  }
}