.wrapperCards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.colD {
  max-width: 300px;
}