.reviewLine {
  background-color: #ff70a6;
  color: white;
  margin-bottom: 50px;
  padding: 30px 0;
}

.reviewContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.Num {
  font-size: 40px;
}